{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'AppBundle:CRUD:base_edit.html.twig' %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        {% block side_bar_after_nav_content %}
            {#{{ parent() }}#}
            <a href="https://lenal.eu/" rel="noreferrer" target="_blank">LENAL TM</a>
        {% endblock %}
    </p>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .field-short-description {
            min-width: 100%;
        }
    </style>


{% endblock %}


